.map-geography{
    border: 1px solid transparent;
}

.wdm-map-container svg {
    transform: scale(0.5) !important; /* desired scale factor*/
  }

/*
  .svg-element-selector {
    outline: none !important;
  }
*/
