.map-geography{
    border: 1px solid transparent;
}

.wdm-map-container {
    padding: 20px;
    background-color: white;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
}

.wdm-wrap {
    margin-right: 20px;
}

.wdm-map-container svg path{
outline: none;
}


