.wdm-map-container {
    padding: 20px;
    background-color: white;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
}

.wdm-map-container h2 {
    font-size: 1.125rem;
    color: #212b36;
}

.wdm-map-container .map-geography{
    border: 1px solid transparent;
}

.wdm-map-container svg path{
    outline: none;
}

.wdm-wrap {
    margin-right: 20px;
}

.map-geography.active:hover {
    visibility: visible;
    opacity: 1;
    fill: #404145;
    cursor: pointer;
}


/* BEGIN loading icon */
.wdm-loading-icon img {
    height: 20px;
    width: auto;
}

.wdm-loading-icon {
    width: 30px;
    margin-left: 10px;
    display: none;
}
/* END loading icon */
